{% extends "/components/layout.html" %}

{% block title %}BancoAreandina{% endblock %}
{% block content %}
    <div class="row m-sm-5 m-3">
        <h1 class="col">Estos son nuestros servicios</h1>
    </div>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link activate" aria-current="page" href="accounts">Crear cuenta</a
                        >
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link activate" aria-current="page" href="transactions">Hacer transacción</a
                        >
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link activate" aria-current="page" href="get_money">Dinero en cuenta</a
                        >
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link activate" aria-current="page" href="update_money">Meter dinero en cuenta</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    </section>
{% endblock %}